@media (max-width: 900px) {
    header h1 {
        margin: 0;
        line-height: 100px;
        text-align: center;
        padding: 0;
        display: block;
        font-size: 230%;
    }
    header h1:after {
        background-image: none;
    }
    header .about.eight.columns {
        width: 100%;
        height: inherit;
    }
    header .location.four.columns {
        width: 100%;
        margin: 0;
        text-align: center;
    }
    header ul {
        position: static;
        margin: 40px;
        text-align: center;
        padding: 15px;
    }
    header ul li {
        display: block;
        float: none;
        padding: 0;
        border-radius: 5px;
    }
    header ul li a {
        display: block;
        padding: 5px;
    }
    header ul li a:hover {
        color: white;
        background-color: #e10079;
        border-radius: 5px;
    }
    header small {
        display: none;
    }
    section {
        margin: 0;
    }
    img.iacr {
        float: none;
        margin: auto;
        display: block;
    }
}
@media (max-width: 1200px) {
    header {
        background-size: 1000px;
    }
}
